.Iframe {
    flex: 1;
}
.Iframe__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.Iframe__header {
    border-bottom: 1px solid black;
}
.Iframe__iframe {
    width: 45%;
    height: 45%;
    margin: 20px;
}
